ibus_sphotik.py

LICENSE.txt
README.md
ACKNOWLEDGEMENT.md
VERSION.txt

sphotik/__init__.py
sphotik/engine.py
sphotik/parser.py
sphotik/history.py
sphotik/sphotik.xml.tmpl


sphotiklib/__init__.py
sphotiklib/conjunction_parser.py
sphotiklib/conjunctor.py
sphotiklib/example.py
sphotiklib/parser.py
sphotiklib/ruleparser.py
sphotiklib/transliterator.py
sphotiklib/tree.py
sphotiklib/utils.py
sphotiklib/vowelshaper.py
sphotiklib/rules/avro/conjunction_glue.txt
sphotiklib/rules/avro/conjunctions.txt
sphotiklib/rules/avro/consonants.txt
sphotiklib/rules/avro/modifier.txt
sphotiklib/rules/avro/punctuations.txt
sphotiklib/rules/avro/special_rules.txt
sphotiklib/rules/avro/transliterations.txt
sphotiklib/rules/avro/vowelhosts.txt
sphotiklib/rules/avro/vowelmap.txt

