<?xml version="1.0" encoding="utf-8"?>
<component>
	<name>org.freedesktop.IBus.Sphotik</name>
	<description>Sphotik Component</description>
    <exec>{sphotik_exec_path}</exec>
    <version>{sphotik_version}</version>
	<author>Titon Barua &lt;titon@vimmaniac.com&gt;</author>
	<license>MIT</license>
	<homepage></homepage>
	<textdomain>ibus-sphotik</textdomain>

	<engines>
		<engine>
			<name>sphotik</name>
			<language>bn</language>
			<license>MIT</license>
            <author>Titon Barua &lt;titon@vimmaniac.com&gt;</author>
            <icon>{sphotik_icon_path}</icon>
			<layout>default</layout>
			<longname>Sphotik Bangla</longname>
            <description>Avro-like Bangla phonetic keyboard</description>
			<rank>99</rank>
			<symbol>&#x09B8;</symbol>
            <setup>{sphotik_setup_path}</setup>
		</engine>
	</engines>

</component>
